* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER SECTION */    
.container {
    height: 100px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.title {
    text-transform: uppercase;
    display: flex;
}

.title h1 {
    padding-left: 1rem;
}

button {
    padding: 0.3rem 2rem;
    margin-left: 1rem;
    border-radius: 10px;
    font-size: 1rem;
}

select {
    padding: 0.3rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
}

/* MAIN SECTION */
main {
    background-color: aquamarine;
    padding: 2rem;
}

.main-container {
    width: 800px; 
    height: 800px;
    margin: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 1.5rem;
}

.azure {
    background-color: azure;
}

.easy {
    width: calc(800px / 10);
    height: calc(800px / 10);
}

.medium {
    width: calc(800px / 9);
    height: calc(800px / 9);
}

.hard {
    width: calc(800px / 7);
    height: calc(800px / 7);
}


/* FOOTER SECTION */
footer {
    padding: 0 2rem;
    height: 80px;
}

footer p {
    line-height: 80px;
    font-size: 1.3rem;
}